mat-card{
    margin: 20px;
}
p{
    font-size:15px!important;
    span{
        margin-left: 20px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
}
.printer{
    text-align: center;
    margin: 5px;
}
