<div class="Detail">
        <mat-card>
                
                <mat-card-content>
                        <p>Client N° : <span>{{Users._id |uppercase}}</span></p> <hr>
                        <p>Nom du client  : <span>{{Users.userLastName |uppercase}}</span></p><hr>
                        <p>Prénom : <span>{{Users.userFirstName |uppercase}}</span></p><hr>
                        <p>Date de naissance : <span>{{Users.userBirthDate|date :'dd/MM/yyyy'}}</span></p><hr>
                        <p>Téléphone : <span>{{Users.userPhone |uppercase}}</span></p><hr>
                        <p>Adresse mail : <span>{{Users.userEmail |uppercase}}</span></p><hr>
                        <p>Sexe : <span>{{Users.userGender |uppercase}}</span></p><hr>
              
        
                        <p>Type de compte : <span>{{Users.accountType |uppercase}}</span></p><hr>
                        <p>Ville  : <span>{{Users.userCity |uppercase}}</span></p><hr>
                        <p>Initial  : <span>{{Users.userCountry |uppercase}}</span></p><hr>
                        <p>Typede carte : <span>{{Users.card[0].cardType |uppercase}}</span></p><hr>
                        <p>Identifiant de la carte : <span>{{Users.card[0].cardAccountId |uppercase}}</span></p><hr>
                        <p>Solde de la carte : <span>{{card.balance |uppercase}}   {{card.currencyCode |uppercase}}</span></p><hr>
                        <p>Nom d'utilisateur : <span>{{Users.username |uppercase}}</span></p>
                </mat-card-content>
        </mat-card>
</div>

<div class="printer">
        <button mat-raised-button color="primary" (click)="printThisPage()">Imprimer</button>
</div>