<div class="formulaire">
    <form [formGroup]="updateform">
        
     <div class="f">
        <p>
            <mat-form-field appearance="outline">
              <mat-label>Libelle du role</mat-label>
              <input matInput placeholder="Libelle" name="libelle" class="form-control" type="text" formControlName="libelle" required>
             
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Description du role</mat-label>
                <input matInput placeholder="Description" name="Description" class="form-control" type="text" formControlName="Description" required>
                
            </mat-form-field>
        </p>
     </div>   

        <div class="bouton">
            <button class="btn btn-sm btn-primary" id="a" (click)="onUpdate()">Enregistrer</button>
            <button class="btn btn-sm btn-danger" id='b' (click)="Annuler()">Annuler</button>
        </div>
    </form>
</div>