<div class="card">
    <div class="card-body">
      <div >
        <p>Prèt N° : <span>{{Users._id}}</span></p> <hr>
        <p>Type d'épargne : <span>{{Users.typeEpargne}}</span></p><hr>
        <p>Durée de l'épargne : <span>{{Users.dureeEpargne}} : {{Users.uniteTemps}}</span></p><hr>
        <p>Montant : <span>{{Users.montant}}</span></p><hr>
        <p>Type de débit : <span>{{Users.typeDebit}}</span></p><hr>
        <p>Client N° : <span>{{Users.userId}}</span></p> <hr>
        <p>Nom du client : <span>{{Users.userLastName | uppercase}}</span></p>
        <p>Prénom du cient : <span>{{Users.userFirstName | uppercase}}</span></p>
        <p>Date de création : <span>{{Users.createdAt | date}}</span></p>

</div>
    </div>
  </div>

<div class="printer">
    <button class="btn btn-primary" (click)="printThisPage()">Imprimer</button>
    <button class="btn btn-success" data-toggle="modal" data-target="#exampleModal" (click)="openDialog()">traiter</button>
</div>