<div class="container">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2 class="h2">Demandes de prèts reçues</h2>
        <div class="print">
        
            <button class="btn btn-sm btn-dark" id="b" (click)="imprimer()">Imprimer</button>
            <button class="btn btn-sm btn-success" id="b" (click)="fireEvent()">Fichier excel</button>
          </div>
          <input class="form-control" type="text" name="adresse" [(ngModel)]="adresse" (ngModelChange)="search()"
          placeholder=" rechercher" id="a" >
        <div><button class="btn btn-sm btn-primary" (click)="AddMail()"><mat-icon>add</mat-icon></button></div>
    </div>
    <div class="table-responsive" >
      <table class="table table-striped" id="table" #table>
            <thead>
                <tr>
                    <th scope="col">Type demande</th>
                    <th scope="col">Durée</th>
                    <th scope="col">Unité temps</th>
                    <th scope="col">Montant</th>
                    <th scope="col">Nom client</th>
                    <th scope="col">Prénom client</th>
                    <th class="text-center" scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of Users |paginate:{
                    itemsPerPage : tableSize,
                    currentPage : page,
                    totalItems : count
                }; let i=index ">
                        <td scope="row">{{user.demandeType}}</td>
                        <td>{{user.dureeCredi}}</td>
                        <td>{{user.uniteTemps}}</td>
                        <td>{{user.montant}}</td>
                        <td>{{user.userLastName}}</td>
                        <td>{{user.userFirstName}}</td>
                        

                        <td class="text-center">
                            <button type="button" class="btn btn-outline-warning" [routerLink]="['/details-pret', user._id]">details</button>
                            <button type="button" class="btn btn-outline-primary">Traiter</button>
                            <!-- <button class="btn btn-sm btn-primary"  [routerLink]="['/updatemail',user.idMail]" ><mat-icon>check</mat-icon></button>
                            <button class="btn btn-sm btn-danger" (click)="delete(user.idMail, i)" ><mat-icon>delete</mat-icon></button>
                           <button class="btn btn-sm btn-warning" [routerLink]="['/detailsmail', user.idMail]"><mat-icon>details</mat-icon></button>-->
                        </td>  
                </tr>
            </tbody>
      </table>
      <div class="p">
        <pagination-controls
                previousLabel ="Prev"
                nextLabel = "Next"
                (PageChange)="onTableDataChange($event)">
        </pagination-controls>
        <div>
            <select (change)="onTableSizeChange($event)">
                <option *ngFor="let size of tableSizes">{{size}}</option>
            </select>
        </div>
    </div>

      <!--<mat-paginator 
      [length]="5"
      [pageSizeOptions]="[3, 5, 10]"
      [showFirstLastButtons]="firstLastButtons"
    >
</mat-paginator>-->
    </div>
</div>
