

<div class="ensemble">
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">Transactions (s)</h5>
          <mat-icon>payment</mat-icon>
          <p class="card-text">Consulter l'historique des transactions effectuées.</p>
          <h3>Aujourd'hui | cette semaine | ce mois | cette année</h3>
          <button type="button" class="btn btn-primary" [routerLink]="['/HistoriqueActivite']">Commencer</button>
          <span class="badge bg-danger">5</span>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">Payement (s)</h5>
          <mat-icon>group</mat-icon>
          <p class="card-text">Consulter l'historique des paiements effectués.</p>
          <h3>Aujourd'hui | cette semaine | ce mois | cette année</h3>
          <button type="button" class="btn btn-primary" [routerLink]="['/troncon']">Commencer</button>
          <span class="badge bg-danger">5</span>
        </div>
    </div>
  
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">Mise à jour des comptes</h5>
          <mat-icon>manage_accounts</mat-icon>
          <p class="card-text">Vérifier les status et les états des comptes clients.</p>
          <button type="button" class="btn btn-primary" [routerLink]="['/fibre']">Commencer</button>
          <span class="badge bg-danger">5</span>
        </div>
    </div>
  
  
  
    <!--<div class="card">
        <div class="card-body">
          <h5 class="card-title">Gérer les Liens</h5>
          <mat-icon>account_circle</mat-icon>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <button type="button" class="btn btn-primary" [routerLink]="['/lien']">Commencer</button>
          <span class="badge bg-danger">5</span>
        </div>
    </div>-->
  
  </div>
  
  
  
  