button{
    margin: 2px;
}

#b{
    margin-left: 8px;
}


#content{
    width: 100%;
    height: auto;
}
#a{
    width: 30%;
    justify-content: center;
}

.p{
    margin-top : 5px;
    display : flex;
    justify-content: space-around;
}

#table tbody tr:hover{
    font-weight : bold;
}

.table-responsive{
    margin: 20px;
}
.root{
    background: white;
}
.select{
    width: 100px;
}

.dis{
    display: flex;
    justify-content: space-around;
}

h1,h2,h3,h4,h5,h6,span,p{
    font-family: verdana;
}





