<div class="container">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h2 class="h2">Fichier assurance</h2>
      <div class="print">
        
        <button class="btn btn-sm btn-dark" id="b" (click)="imprimer()">Imprimer</button>
        <button class="btn btn-sm btn-success" id="b" (click)="fireEvent()">Fichier excel</button>
      </div>
      <input class="form-control" type="text" name="numero" [(ngModel)]="demandeType" (ngModelChange)="search()"
      placeholder=" rechercher par type" id="a" >
        <div><button class="btn btn-sm btn-primary" (click)="AddMessage()"><mat-icon>add</mat-icon></button></div>
    </div>    
 

    <div class="table-responsive" >
      <table class="table table-striped" id="table" #table>
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Type assurance</th>
                    <th scope="col">Durée</th>
                    <th scope="col">unité de temps</th>
                    <th scope="col">Montant</th>
                    <th scope="col">Nom client</th>
                    <th scope="col">Prenom client</th>
                    <th scope="col">Date de création</th>
                    <th class="text-center" scope="col">Statut</th>
                    <th class="text-center" scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of Users |paginate:{
                    id : 'listing_pagination',
                    itemsPerPage : tableSize,
                    currentPage: page,
                    totalItems: count
                  } ; let i=index ">
                        <td>{{user.demandeType}}</td>
                        <td>{{user.dureeCredit}}</td>
                        <td>{{user.uniteTemps}}</td>
                        <td>{{user.montant | uppercase}}</td>
                        <td>{{user.userLastName | uppercase}}</td>
                        <td>{{user.userFirstName | uppercase}}</td>
                        <td>{{user.createdAt| date : 'dd/MM/yyyy'}}</td>
                        <td class="text-center">{{user.status}}</td>
                        <td class="text-center">
                            <button type="button" class="btn btn-outline-warning" [routerLink]="['/details-message',user._id]">details</button>
                        </td>
                </tr>
            </tbody>
      </table>
      <div class="p">
        <div class="pagination">
            <pagination-controls id="listing_pagination" [directionLinks]="true" (pageChange)="page=$event">
              [previousLabel]="prev"
              [nextLabel]="next"
              (pageChange)="onTableDataChange($event)"
            </pagination-controls>
          </div>
            <div>
                <select (change)="onTableSizeChange($event)">
                    <option *ngFor="let size of tableSizes">{{size}}</option>
                </select>
            </div>
    </div>
</div>
