.racine {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

mat-sidenav-container, mat-sidenav-content {

  flex: 1;
  /* height: 95vh; */  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;

}



app-toolbar {
  position: relative;
  top: 0;
  left: 0;
}

mat-sidenav {
  width: fit-content;
  padding: 0;
  margin: 0;
  border: solid 0px transparent;
}


@keyframes identifier {

}

