* {
  font-size: 13px;
}

.ensemble{
  display: flex;
  justify-content: center;
  flex: 5;
  margin-top: 10px;
}

.card{
  margin: 10px;
  //box-shadow: 1 0 10px rgba(0,0,0,0.50);
  border-radius: 5px;
  min-width: 20%;
  // transition: .2s;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  transition: .2s;
}

.centre{
  margin: 30px;
  text-align: center;
  background-color: white;
  padding: 10px;
  p{
    font-size: 20px;
    color: darkblue;
  }
}
img:hover{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
  }
  
.im{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin: 10px;
  img{
    width: 20%;
    text-align: center;
    margin-left: 40%;

  }
  .par{
    background-color: white;
    padding: 10px;
    margin: 10px;
  }



  p{
    font-size: 20px;
    color: darkblue;
    box-shadow: 1 0 10px rgba(0,0,0,0.50);;
  }
}




h5{
  font-family: verdana;
}
.card-body{
  //text-align: center;
  mat-icon{
    color: blue;
    //font-size: 50px;
  }
}

h5,p{
  color: black;
}
span{
  color: grey;
}

#c{
  width:96%;
  margin-left: 25px;
  text-align: center;
  h5{
    color: gray;
    font-size: 20px;
  }
}
.s{
  display: flex;
  justify-content: space-around;
  .p{
    
    h1{
      color: green;
    }
  }
}

.container_{
  width: 100%;
  flex: 1;
}

.graph_container {
  padding: 10px;
  margin: 10px;
  box-shadow: 0 0 6px #0000005a;
  display: flex;
  justify-content: center;
  height: 200px;
  border-radius : 5px;
  // width: 100%;
}

.graph_container {
  font-size: 5px;
}

#area_graph_container {

  // width: 100%;
}

.carte{
  display: flex;
  justify-content: space-around;
}
.graph{
  display: flex;
  // justify-content: space-around;
}

.fin{
  display : flex;
  justify-content : space-around;
  margin-top: 30px;
}

.form{
  width: 500px;
  display: flex;
  justify-content: space-around;
 // background:white;
  border-radius:20px;
  
}

.f{
  display: flex;
  flex: 1;
  justify-content: space-around;
  margin-top: 40px;
  //background:white;
}

#a{
  width: 200px;
  height: 60px;
}

p{
  margin: 2px;
}

.banner {
  margin-top: 20px;
  margin-bottom: 10px;
}