<div class="ensemble">
  <div class="card">
      <div class="card-body">
        <h5 class="card-title">Nombre de clients  <span> | Aujourd'hui</span></h5>
        <div class="s">
          <mat-icon >group</mat-icon>
          <div class="p"><h1>{{TotalUser}}</h1></div>
        </div>
        
  
      </div>
  </div>

  <div class="card">
      <div class="card-body">
        <h5 class="card-title">Demande de prèts<span> | Cette semaine</span></h5>
        <div class="s">
          <mat-icon >mails</mat-icon>
          <div class="p"><h1>{{TotalPret}}</h1></div>
        </div>
        
      </div>
  </div>

 <div class="card">
      <div class="card-body">
        <h5 class="card-title">Demande d'assurance  <span> | Ce mois</span></h5>
        <div class="s">
          <mat-icon>home</mat-icon>
          <div class="p"><h1>{{TotalAssurance}}</h1></div>
        </div>
        
        
      </div>
  </div>

  <div class="card">
      <div class="card-body">
        <h5 class="card-title">Nombre de transactions <span> </span></h5>
        <div class="s">
          <mat-icon>settings</mat-icon>
          <div class="p"><h1>{{TotalTransaction}}</h1></div>
        </div>
        
        
      </div>
  </div>

</div>



<div class="centre">
  <p>Bienvenu sur notre plateforme <strong>Onyfast administration</strong>,</p>
  <p>Faites-en bonne usage dans toute responsabilité</p>
</div>


<div class="card" id="c">
  <div class="card-body">
        <h5 class="card-title">Observation des graphes récapitulatifs</h5>

  </div>
</div>


<div class="graph">
  <div id="container"></div>
  <div id="container2"></div>
  <div id="container3"></div>
</div>

