<div class="ensemble container d-flex">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Nombre de clients  <span> | Aujourd'hui</span></h5>
      <div class="s">
        <mat-icon >group</mat-icon>
        <div class="p"><h1>{{TotalUser}}</h1></div>
      </div>
      

    </div>
  </div>

  <div class="card">
      <div class="card-body">
        <h5 class="card-title">Demande de prèts<span> | Cette semaine</span></h5>
        <div class="s">
          <mat-icon >mails</mat-icon>
          <div class="p"><h1>{{TotalPret}}</h1></div>
        </div>
        
      </div>
  </div>

  <div class="card">
      <div class="card-body">
        <h5 class="card-title">Demande d'assurance  <span> | Ce mois</span></h5>
        <div class="s">
          <mat-icon>home</mat-icon>
          <div class="p"><h1>{{TotalAssurance}}</h1></div>
        </div>
        
        
      </div>
  </div>

  <div class="card">
      <div class="card-body">
        <h5 class="card-title">Nombre de transactions <span> </span></h5>
        <div class="s">
          <mat-icon>settings</mat-icon>
          <div class="p"><h1>{{TotalTransaction}}</h1></div>
        </div>
        
        
      </div>
  </div>
</div>

<div class="container_ container">
  <div class = "graph_container" id="area_graph_container">  
</div>

</div>
<div class="graph container">
  <div class = "container graph_container" id="container2"></div>
  <div class = "container graph_container" id="container3"></div>
</div>

