

<div class="ensemble">
  <div class="card">
      <div class="card-body">
        <h5 class="card-title">Gérer les agents</h5>
        <mat-icon>group</mat-icon>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <button type="button" class="btn btn-primary" [routerLink]="['/agent']">Commencer</button>
      </div>
  </div>

  <div class="card">
      <div class="card-body">
        <h5 class="card-title">Gérer les roles</h5>
        <mat-icon>manage_accounts</mat-icon>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <button type="button" class="btn btn-primary" [routerLink]="['/role']">Commencer</button>
      </div>
  </div>



  <div class="card">
      <div class="card-body">
        <h5 class="card-title">Gérer les services</h5>
        <mat-icon>account_circle</mat-icon>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <button type="button" class="btn btn-primary" [routerLink]="['/service']">Commencer</button>
      </div>
  </div>

</div>



