<!--<div class="formulaire" *ngFor="let user of Users, let i=index">
    <div class="p">
            <p>Détails du role {{user.idService}}</p>
    </div>
<div class="root">
        <div class="cont1">
            <div class="banner">
            <label>ID : </label>
            {{user.idService}} 
            </div>
            <div class="banner">
            <label>Libelle : </label>
            {{user.libelle}} 
            </div>
            <div class="banner">
                <label>Description </label>
                {{user.description}} 
                </div>
            <div class="banner">
            <label>Etat du service" : </label>
            {{user.etat}}
            </div>
            <div class="banner">
            <label>Membre : </label>
            {{user.participants}}
            </div>
          

</div>-->



<div class="formulaire" *ngFor="let user of Users, let i=index" id="table">
        
    <div class="root">
         <p>
                 <mat-form-field appearance="outline">
                 <mat-label >Id du service</mat-label>
                 <input matInput   value="{{user.idService}}" disabled>
                 
                 </mat-form-field>
         </p>
         
                 <p>
                         <mat-form-field appearance="outline">
                         <mat-label >Libelle </mat-label>
                         <input matInput   value="{{user.libelle}}" disabled>
                         
                         </mat-form-field>
                 </p>
         
                 <p>
                         <mat-form-field appearance="outline">
                         <mat-label >Description</mat-label>
                         <input matInput   value="{{user.description}}" disabled>
                         
                         </mat-form-field>
                 </p>
                 <p>
                         <mat-form-field appearance="outline">
                         <mat-label >Etat du service</mat-label>
                         <input matInput   value="{{user.etatService}}" disabled>
                         
                         </mat-form-field>
                 </p>
                 
                </div>
        
         <div class="cont3">
                 <button class="btn btn-sm btn-secondary" id="b" (click)="download()">Télécharger un pdf</button>
         </div>
             
 
 </div>